
.projects-div {
    transform: translateY(50%);    
}

.sm-log {
    background: black;
}

.p1-container  {
    float:right;
    width:180px;
    background-color:white;
    border:solid black;
}

.p2-container  {
    float:right;
    width:180px;
    background-color:white;
    border:solid black;
}

.p3-container {
    float:right;
    width:180px;
    background-color:white;
    border:solid black;
}